.google-btn {
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0px;
}



.facebook-btn {
  
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0px;

}
