.MainWrapper{
    padding-top: 20px;
    /* width: 576px; */
    height: 900px;
    margin: 10px 10px;
    background-color: #FFFFFF;
    /* border: 1px black solid; */
    position: fixed;

    
}

/* Messaging bar part */

.UserBar{
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px black solid;
    background-color: white;
}

.barHeader{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    height: 60px;

    
}

.barHeader button{
    height: 30px;
    background-color: red;
}

.InputWrapper{
    padding: 4px 0px;
    text-align: center;
    margin-top: 25px;
}
.InputWrapper input{
    padding: 12px;
    width: 210px;
    border-radius: 12px;
}

.usersWrapper li{
    margin: 15px 0px;
    margin-left: 5px;
}

.ChattingPage{
    background-color: #FFFFFF;
    height: 100;
    color: black;
    font-size: 13px;
}

.ChattingPage h6{
    margin-top: 13px;
    font-size: 15px;
    
}

/* Header Part  */

.HeaderWrapper{
    display: flex;
    gap: 20px;
}
.NameContainer{
    width: 100px;
    height: 60px;
    overflow: hidden;
}

.NameContainer p{
    margin-top: -9px;
}

.HeaderWrapper button{
    width: 50px;
    font-size: 13px;
    border: none;
    background-color:white ;
    margin-right: -17px;
    border-radius: 5px;
    padding: 3px;
    margin-left: 10px;
    height: 40px;
}

.HeaderWrapper button:hover{
    background-color: #dfe4e9;
}

.informationSection{
    display: flex;
    gap : 10px;
    margin: 0px 10px;
    height: 40px;
    width: 200px;
}

.imageWrapper{
    border-radius: 50px;   
}
.imageWrapper img{
    width: 50px;
    border-radius: 80px;
}

/* Setting bar */

.settingBar{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px black solid;
    border-bottom: 0px;
    margin-top: 25px;
    margin-left: 170px;
}

.settingBar button{
    border: 0;
    border-bottom: 1px black solid;
    padding: 10px ;
}

.settingBar button:hover{
    background-color: #470588;
    color: white;
}


.SettingButton button{
    width: 40px;
    margin-left: 40px;
}

@media (max-width : 391px){
    .informationSection{
        width: 160px;
    }
    .settingBar{
        margin-left: 135px;
    }
}

@media (max-width : 361px){
    .informationSection{
        width: 140px;
    }
    .settingBar{
        margin-left: 127px;
    }
}
