.verify-container{
    width: 300px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}       

.verify-container button{
    width: 200px;
    border: none;
    margin: 10px auto;
    padding: 5px 0px;
}

.verify-container button:hover{
    background-color: hwb(216 1% 0%);
    color: white;
}